In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Name of the CSV file
trump_clintoncsv = Path('uncleaned/trump_clinton_polls.csv')

In [3]:
# The correct encoding must be used to read the CSV in pandas
trump_clintondf = pd.read_csv(trump_clintoncsv, encoding="UTF-8")

In [4]:
trump_clintondf.head()

,Unnamed: 0,start_date,end_date,state,pollster,fte_grade,sample_size,population,Clinton,Trump,dem_lead
0,3077,2015-11-07,2015-11-08,South Carolina,Public Policy Polling,B+,1290.0,v,40.63694,45.19826,-4.56132
1,6520,2015-11-07,2015-11-08,South Carolina,Public Policy Polling,B+,1290.0,v,40.48820,45.19637,-4.70817
2,9901,2015-11-07,2015-11-08,South Carolina,Public Policy Polling,B+,1290.0,v,40.69941,45.18212,-4.48271
3,3206,2015-11-09,2015-11-13,Virginia,Roanoke College,C+,555.0,rv,49.81532,36.21050,13.60482
4,6638,2015-11-09,2015-11-13,Virginia,Roanoke College,C+,555.0,rv,49.00173,37.02524,11.97649

In [5]:
cleantrump_clintondf = trump_clintondf[['start_date', 'end_date', 'state', 'sample_size', 'population', 'Clinton', 'Trump']]
cleantrump_clintondf.head()

,start_date,end_date,state,sample_size,population,Clinton,Trump
0,2015-11-07,2015-11-08,South Carolina,1290.0,v,40.63694,45.19826
1,2015-11-07,2015-11-08,South Carolina,1290.0,v,40.48820,45.19637
2,2015-11-07,2015-11-08,South Carolina,1290.0,v,40.69941,45.18212
3,2015-11-09,2015-11-13,Virginia,555.0,rv,49.81532,36.21050
4,2015-11-09,2015-11-13,Virginia,555.0,rv,49.00173,37.02524

In [6]:
cleantrump_clintondf.to_csv("cleaned/trump_clintonclean.csv", index=False, encoding="UTF-8")